body {
    margin: 0; 
    padding: 0; 
    height: 100vh; 
    width: 100vw;
    background-image: url("images/bursa10.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  
  }
  
  .form-container {
    background-color: rgba(255, 255, 255, 0.5); /* Formun arka plan rengi, %50 saydamlık */
    padding: 20px; /* Formun kenar boşlukları */
    border-radius: 10px; /* Formun kenar yuvarlaklığı */
    opacity: 0.9; /* Formun genel saydamlık değeri */
    
  }
  
  .form-container input[type="text"],
  .form-container textarea,
  .form-container input[type="submit"] {
    opacity: 1; /* Input alanları ve butonlar için saydamlık değeri */
  }
  .form-container {
    position: fixed; /* Formun sayfanın diğer öğelerinden üstte durması */
    top: 55%; /* Formun yüksekliğinin ekranın yarısı kadar aşağıda olması */
    left: 50%; /* Formun genişliğinin ekranın yarısı kadar sağda olması */
    transform: translate(-50%, -50%); /* Formun tam ortalanması */
    background-color: rgba(255, 255, 255, 0.5); /* Formun arka plan rengi, %50 saydamlık */
    border: 1px solid #f4efef;
    padding: 30px; /* Formun kenar boşlukları */
    border-radius: 10px; /* Formun kenar yuvarlaklığı */
  }
 
  .header {
    background-color: rgba(255, 255, 255, 0.75); /* Başlık arka plan rengi, beyaz (%50 saydamlık) */
    /* Diğer stil ayarları */
  }

  @media (max-width: 768px) {
    /* Küçük ekranlara özel stiller burada */
  }
  